body {
    background: rgba(77, 75, 75, 1);
}

header {
    background-color: rgba(240, 244, 23, 1);
}

.contenido {
    margin-left: 40px;
    margin-right: 40px;
}

h1 {
    font-size: 40px;
    color: rgba(226, 17, 17, 1);
    -webkit-text-stroke: 2px rgba(0, 0, 0, 1);
}

h2 {
    font-size: 24px;
    color: rgba(181, 17, 17, 1);
}

h3 {
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 1);
}

h4 {
    color: rgb(255, 253, 253);
    font-size: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.encabezado {
    display: flex;
    justify-content: space-evenly;
}

.encabezado2 {
    display: flex;
    justify-content: center;
}

#filtro {
    font-size: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;

}

#search {
    font-size: 20px;
    border-radius: 20px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

::placeholder {
    color: black;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: 1000px;
}

#root {
    font-size: 20px;
    color: rgb(10, 46, 10);


}